<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${specialFolder:CommonApplicationData}\ChatBot\PreProcessor\Logs\runlogs-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:separator=|}${exception:format=ToString}"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false"
				enableArchiveFileCompression="true"
				archiveFileName="${specialFolder:CommonApplicationData}/ChatBot/PreProcessor/Logs/runlogs-${shortdate}.{#}.log"/>
		
		<target name="logconsole" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:separator=|}${exception:format=ToString}" />
		
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile, logconsole" />
	</rules>
</nlog>
